-extends "base.haml"
-set title = "API Documentation"
-block content:
  %h1 << API Documentation
  %p  
    Changemonger comes with a RESTful API which can be used for
    external applications.
  %h2 << /api/features/node/NODE ID
  %p  
    Takes as the the argument a node ID and returns a JSON hash with
    two values, "cn" and "features". cn contains the object element's
    "common name", a human readable name, and "features" contains an
    array of strings that the element matched, in order of matching
    most to least.
  %h2 << /api/features/way/\WAY ID
  %p  
    Takes as the the argument a way ID and returns a JSON hash with
    two values, "cn" and "features". cn contains the object element's
    "common name", a human readable name, and "features" contains an
    array of strings that the element matched, in order of matching
    most to least.
  %h2 << /api/features/relation/REATION ID
  %p  
    Takes as the the argument a relation ID and returns a JSON hash with
    two values, "cn" and "features". cn contains the object element's
    "common name", a human readable name, and "features" contains an
    array of strings that the element matched, in order of matching
    most to least.
  %h2 << /api/features/changeset/CHANGESET ID
  %p
    Takes as the the argument a changeset ID and returns a JSON hash
    with one value "sentence", which represents the English sentence
    representation of the changeset.
