-extends "base.haml"
-set title = "Features"
-block content:
  %h1 << Features
  %h2 << Simple Features
  %ul
  -for feature in simple:  
    %li
      %a href="feature/{{feature.id}}" << {{feature.name}}
  %h2 << Categories
  %ul
  -for category in categories:  
    %li
      %a href="feature/{{category.id}}" << {{category.name}}
  %h2 << Magic Features
  %ul
  -for magic in magic:  
    %li
      %a href="feature/{{magic.id}}" << {{magic.name}}
