-extends "base.haml"
-set title = "Feature details"
-block content:
  %h1 << Feature: {{feature.name}}
  %p
    Name: {{feature.name}}
    %br
    Plural: {{feature.plural}}
    %br
    Precision: {{feature.precision}}
    %br
    -if feature.__class__.__name__ == 'Category':
      Type: Category
      %br
      Features in Category:
      %ul
      -for f in feature.features:
        %li
          %a href="{{f.id}}" << {{f.name}}
      -elif feature.whoami == 'BaseFeature':
          Type: BaseFeature (ie Magic Feature)
          %br
          Function: {{getsource(feature.match)}}
      -elif feature.__class__.__name__ == 'SimpleFeature':
      Type: Simple Feature
        %br
        Tags:
        %ul
          -for t in feature.tags:
            %li << {{t}}
        %br
        Categories:
        %ul
          -for cat in feature.categories:
            %li
              %a href="{{cat.id}}" << {{cat.name}}
      -else:
        Type: {{feature.__class__.__name__}}
        %br
        Source:        
          %pre << {{getsource(feature.__class__)}}
      
