-extends "base.haml"
-set title = "Changemonger"
-block content:
  %h1 << Changemonger Alpha
  %h2 << Making sense out of OpenStreetMap

  %form action="/node" method="get"
    %label << Node
    %input type="text" name="id"
    %input type="submit" style="visibility: hidden;"

  %form action="/way" method="get"
    %label << Way
    %input type="text" name="id"
    %input type="submit" style="visibility: hidden;"

  %form action="/relation" method="get"
    %label << Relation
    %input type="text" name="id"
    %input type="submit" style="visibility: hidden;"

  %form action="/changeset" method="get"
    %label << Changeset
    %input type="text" name="id"
    %input type="submit" style="visibility: hidden;"

  %hr
  %p
    Changemonger can also be used as a web service through its
    %a href="api.html" << RESTful API
  %p
    The source code for Changemonger can be downloaded at
    %a href="https://github.com/emacsen/changemonger" << Github  
