-extends "base.haml"
-set title = "Relation"
-block content:
  %h1 << Relation
  %p
    Enter the ID of the relation you would like to query
  %form action="/node" method="get"
    %label << Way ID
    %input type="text" name="id"
    %input type="submit" style="visibility: hidden;"
