-extends "base.haml"
-set title = "Relation details"
-block content:
  %h1 << Relation {{element['id']}}
  %h2 << {{ name }}
  %p << Object matched to
  %ul
    -for feature in features:
      %li
        %a href="/feature/{{feature.id}}" << {{feature.name}}
