-extends "base.haml"
-set title = "Way"
-block content:
  %h1 << Way
  %p
    Enter the ID of the way you would like to query
  %form action="/node" method="get"
    %label << Way ID
    %input type="text" name="id"
    %input type="submit" style="visibility: hidden;"
