-extends "base.haml"
-set title = "Way details"
-block content:
  %h1 << Way {{elenment['id'] }}
  %h2 << {{ name }}
  %p << Object matched to
  %ul
    -for feature in features:
      %li << {{feature.name}} ({{precision(feature)}})
