-extends "base.haml"
-set title = "Way details"
-block content:
  %h1 << Way {{element['id'] }}
  %h2 << {{ name }}
  %p << Object matched to
  %ul
    -for feature in features:
      %li
        %a href="/feature/{{feature.id}}" << {{feature.name}}
  %a href="http://www.openstreetmap.org/browse/way/{{element['id']}}"
    Link to OSM.org
  
